@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    overflow: hidden;
}

#logo {
    width: 60vw;
    max-width: 400px;
}

h1 {
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

#name {
    color: rgb(212, 43, 122);
    font-size: 2.8rem;
}

#va {
    color: rgb(245, 245, 2);
    font-size: 2.8rem;
}

#voice {
    width: 80px;
    display: none;
}

#btn {
    background: linear-gradient(to right, rgb(203, 45, 203), rgb(192, 220, 5));
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 8px rgba(21, 145, 207, 0.5), 0 0 8px rgba(201, 41, 116, 0.5);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 250px;
    height: 35px;
}

#btn:hover {
    box-shadow: 0 0 12px rgba(21, 145, 207, 0.7), 0 0 12px rgba(201, 41, 116, 0.7);
    letter-spacing: 1px;
}

#btn img {
    width: 22px;
    height: 22px;
    order: -1; /* Moves the mic image to the left */
}

@media (max-width: 600px) {
    #logo {
        width: 50vw;
        max-width: 300px;
    }

    h1 {
        font-size: 1.8rem;
    }

    #name, #va {
        font-size: 2rem;
    }

    #btn {
        font-size: 0.9rem;
        padding: 6px 30px;
        max-width: 250px;
        height: 35px;
    }

    #btn img {
        width: 18px;
        height: 18px;
        order: -1; 
    }

    #voice {
        width: 60px;
    }
}